.card {
    border: 0;
    border-radius: 10px;
    height: 100%;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
}

.card-header {
    padding: 1rem;
    border-radius: 10px 10px 0 0 !important;
    background: $white;
    display: flex;
    justify-content: space-between;
}

.card-header .title {
    font-weight: 600;
}

.card-header .action-center {
    display: flex;
}

.card-header .action-center .item a {
    margin: 0 11px;
    color: $black;
}

.card-body {
    height: 100%;
    /*overflow-y: scroll;*/
}