// Fonts
$primary-font: "Poppins";

// Color codes
$white: #ffffff;
$black: #000000;

$primary-color: #C9014A;
$light-text: #999999;

$edit-button: #2697fa;
$delete-button: #F32013;

$profile-input-bg: #E3F2FF;
$profile-input-border: #55B0FF;
$profile-label: $light-text;